:root {
    --color-text: #1b1c1f;
    --color-hover: #6462cc;
    --color-nav: #8382ca;
    --color-btn: #992c9c;
    --color-background: white;
}

/*  Basic Style  */
html {
    box-sizing: border-box;
    font-family: serif;
    color: var(--color-text);
    font-size: 1.125rem;
}

body {
    background-color: var(--color-background);
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

/*  Text Style  */
h2, h3, p {
    margin: 0;
}

h2, h3 {
    line-height: 1;
}

h2 {
    font-size: 3rem;
}

p {
    margin-bottom: .8em;
}

/*  Nav Style  */
nav {
    position: fixed;
    width: 100%;
    display: inline-flex;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0.8em;
}

nav a {
    display: inline-block;
    padding: 0.5em;
    color: var(--color-btn);
    text-decoration: none;
}

nav 
    .rightside-navbar a:hover, 
    .leftside-navbar a:hover, 
nav 
    .rightside-navbar a:focus, 
    .leftside-navbar a:focus {
    border-radius: 2em;
    background-color: var(--color-hover);
}

.navbar {
    background-color: var(--color-nav);
    padding: 0;
    margin: 0;
}

.rightside-navbar {
    position: fixed;
    right: 2%;
}

.leftside-navbar {
    font-weight: bold;
}

.logo {
    padding: 0;
    float: left;
    max-width: 3em;
    max-height: 3em;
}

/*  Main Style */
.intro {
    background-color: #333;
    background-image: url(../images/intro-section.jpg);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 20vh 0;
}

.intro p {
    margin: 2rem;
    margin-left: 15%;
    margin-right: 15%;
    min-width: 8rem;
    min-height: 5rem;
}

.about-me {
    margin: 2rem;
    text-align: center;
}

.about-me .section-title {
    margin: 3rem;
}
.about-me p {
    margin-left: 15%;
    margin-right: 15%;
    min-width: 8rem;
}

.products {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.products-row {
   margin: auto;
}

.product {
    margin: 1.5em;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    max-width: 30rem;
}

.prod-img {
    object-fit: cover;
    margin: auto;
    margin-top: 1em;
    width: 90%;
    max-height: 41em;
}

.products h3{
    margin: 0.5em;
}

.products p {
    margin: 1em;
}

.products span {
    font-weight: bold;
}

/*  Buttons Style*/
.button-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.btn {
    margin: 1.5em;
    padding: 0.75em 3.5em;
    color: white;
    text-decoration: none;
    display: block;
}

.seemore-btn {
    background-color: var(--color-btn);
}

/*  Footer Style  */
footer {
    padding: 3em 1em;
    margin-top: 3em;
    background-color: var(--color-nav);
    color: white;
    display: flex;
    justify-content: center;
}

.footer-nav,
.footer-contact {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav a {
    padding: 0.75em;
    text-decoration: none;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-contact a {
    display: block;
    margin: 2px;
}

.social-img {
    width: 25px;
}

/*  Burger Menu*/
#nav-toggle {
    display: none;
    position: absolute;
}

nav .burger-nav {
    display: none;
    position: absolute;
    margin-top: 2.8em;
    right: 5%;
    transform: translateY(-100%);
}

nav .burger-nav .line {
    width: 30px;
    height: 5px;
    background-color: var(--color-btn);
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

/*  Responsive Design  */
@media only screen and (max-width: 768px) {
    nav .rightside-navbar {
        float: none;
        position: fixed;
        text-align: center;
        padding: 0;
        z-index: 9;
        left: 0;
        right: 0;
        top: 68px;
        bottom: 100%;
        width: auto;
        max-height: 6em;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(115, 114, 200, 0.6);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .4s ease-in-out;
    }
    nav .rightside-navbar a {
        font-size: 20px;
    }
    nav :checked ~ .rightside-navbar {
        bottom: 0;
    }
    nav .burger-nav {
        display: block;
    }
    nav :checked ~ .burger-nav .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .burger-nav .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .burger-nav .line:nth-child(2) {
        opacity: 0;
    }
    nav a:hover, 
    nav a:focus {
        text-decoration: none;
        border-radius: 2em;
        background-color: rgba(100, 98, 204, 0.3);
    }

    .section-title {
        font-size: 40px;
    }
}

@media only screen and (max-width: 475px) {
    .leftside-navbar {
       font-size: 0.8em;
    }

    .nav .burger-nav {
        width: 20px;
        height: 2px;
    }

    nav .rightside-navbar {
        top: 60px;
    }
    
    .logo {
        max-width: 2.3em;
        max-height: 2.3em;
    }

    nav .burger-nav {
        margin-top: 2.4em;
        right: 5%;
    }

    nav .burger-nav .line {
        width: 25px;
        height: 3px;
    }
}

@media only screen and (min-width: 750px) {
    .products-row {
        justify-content: center;
        display: flex;
        max-width: 1000px;
    }

    .product {
        margin: 1em;
        flex: 0 1 33%;
    }
}